.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.form__item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.form__item input {
  box-sizing: border-box;
  width: 140px;
  padding: 8px 15px 7px 15px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000;
}

.form__item input:focus {
  border-color: #663d15;
}

.form .btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}
